<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<body>

<div th:fragment="player(soundId)">
    <form th:action="@{/trackPlayback/{soundId}(soundId=${soundId})}" method="post" class="audiohive-player">
        <audio controls th:src="@{/audioData/{soundId}(soundId=${soundId})}" class="w-100 rounded"
               preload="none"></audio>
    </form>
</div>
<div th:fragment="video(videoId)">
    <form th:action="@{/trackPlayback/{videoId}(videoId=${videoId})}" method="post" class="ui-icon-video">
        <video controls th:src="@{/videoData/{videoId}(videoId=${videoId})}" class="w-100 rounded" onmouseover="this.play()" onmouseout="this.pause()"
               preload="active"></video>
    </form>
</div>

</body>
</html>