<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!--/*@thymesVar id="sessionUser" type="example.audiohive.app.user.User"*/-->
<head>
    <title>Layout page</title>
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/icon/logo.jpg}">
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/icon/logo.jpg}">
    <link rel="manifest" th:href="@{/site.webmanifest}">

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.2/dist/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<br>
<br>

<body data-spy="scroll" data-target=".navbar" data-offset="50">
<nav class="navbar navbar-expand-lg navbar-light bg-light shadow fixed-top">
    <a class="navbar-brand text-primary font-weight-bold py-0 mt-n1" th:href="@{/}">
        <img th:src="@{/icon/logo.jpg}" alt="" height="42" width="42" class="rounded-circle border-danger">
        <div class="d-inline-block mt-2">IMAGINARIUM</div>
    </a>
    <button class="navbar-toggler" type="button " data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">


<!--            <li class="nav-item" th:classappend="${#request.requestURI == '/' ? 'active':''}">-->
<!--                <a class="nav-link" th:href="@{/}">Home</a>-->
<!--            </li>-->
            <li class="nav-item" th:classappend="${#request.requestURI == '/newSounds' ? 'active':''}">
                <a class="nav-link" th:href="@{/newSounds}">Sounds</a>
            </li>
            <li class="nav-item" th:classappend="${#request.requestURI == '/newImages' ? 'active':''}">
                <a class="nav-link" th:href="@{/newImages}">Images</a>
            </li>
            <li class="nav-item" th:classappend="${#request.requestURI == '/videos' ? 'active':''}">
                <a class="nav-link" th:href="@{/videos}">Videos</a>
            </li>
            <li class="nav-item" sec:authorize="isAuthenticated()"
                th:classappend="${#request.requestURI == 'feed' ? 'active':''}">
                <a class="nav-link" th:href="@{/feed}">Users</a>
            </li>
            <li class="nav-item" sec:authorize="isAuthenticated()"
                th:classappend="${#request.requestURI == '/upload' ? 'active':''}">
                <a class="nav-link" th:href="@{/upload}">Upload</a>
            </li>
        </ul>
        <ul class="navbar-nav mr-2" sec:authorize="isAuthenticated()">
            <li class="nav-item" th:classappend="${#request.requestURI == ('/profile/' + sessionUser.name) ? 'active':''}">
                <a class="nav-link" th:href="@{/profile/{userName}(userName=${sessionUser.name})}" th:text="${'@' + sessionUser.name}">Upload</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" th:action="@{/logout}" method="post" sec:authorize="isAuthenticated()">
            <button class="btn btn-outline-primary" type="submit">Log out</button>
        </form>
        <div class="btn-group mr-2" role="toolbar">
            <a class="btn btn-outline-primary" sec:authorize="isAnonymous()"  th:href="@{/login}">Log in</a>
            <a class="btn btn-primary" sec:authorize="isAnonymous()"  th:href="@{/signup}">Sign up</a>
        </div>
    </div>
</nav>

<main layout:fragment="main" class="container py-4">
    <p>Page content goes here</p>
</main>
<script th:src="@{/webjars/jquery/3.5.1/dist/jquery.js}"></script>
<script th:src="@{/webjars/popper.js/1.16.1-lts/dist/umd/popper.js}"></script>
<script th:src="@{/webjars/bootstrap/4.5.2/dist/js/bootstrap.js}"></script>
<script th:src="@{/player.js}"></script>
</body>
<footer>
    <style>
    footer {
    text-shadow: 1px 1px #000000;
    }
    </style>
    <li class="nav-item"
        th:classappend="${#request.requestURI == '/termsOfService' ? 'active':''}">
       <b><a class="nav-link" style="color:white; text-align:center;"  th:href="@{/termsOfService}">Terms of Service</a></b></li>

</footer>
</html>