<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{_layout.html}">
<head>
    <title>Home page</title>
</head>
<body>
<main layout:fragment="main">
    <div class="alert alert-warning" role="alert" th:if="${param.soundDeleted}">
        The file was deleted!
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="jumbotron border border-secondary">
        <h1 class="display-4 text-primary font-weight-bold">IMAGINARIUM</h1>
        <p class="lead">Share your emotions!</p>
    </div>

    <div class="row">
        <div class="col-md">
            <h2>Sounds</h2>
            <div class="list-group">
                <a class="list-group-item list-group-item-action"
                   th:each="sound: ${newSounds}"
                   th:href="@{/sound/{soundId}(soundId=${sound.id})}">
                    <audio th:replace="_fragments :: player(${sound.id})"></audio>
                    <strong th:text="${sound.title}"></strong>
                </a>
            </div>
        </div>
        <div class="col-md">
            <h2>Images</h2>
            <div class="list-group">
                <a class="list-group-item list-group-item-action"
                   th:each="image: ${newImages}"
                   th:href="@{/image/{imageId}(imageId=${image.id})}">
                    <img th:src="@{/imageData/{imageId}(imageId=${image.id})}" width="350" height="180" ></img>
                    <strong th:text="${image.title}"></strong>
                </a>
            </div>
        </div>
        <div class="col-md">
            <h2>Videos</h2>
            <div class="list-group">
                    <a class="list-group-item list-group-item-action"
                       th:each="videos: ${videos}"
                       th:href="@{/video/{videoId}(videoId=${videos.id})}">
                        <video type="video/mp4" th:src="@{/videoData/{videoId}(videoId=${videos.id})}" width="350" height="180" controls="controls" onmouseover="this.play()" onmouseout="this.pause()"></video>
                        <strong th:text="${videos.title}"></strong>
                    </a>
            </div>
        </div>
    </div>
</main>
</body>
</html>