<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{_layout.html}" xmlns:sec="">
<head>
    <title th:text="${image.title}"></title>

</head>
<body>
<main layout:fragment="main">
    <div class="card mb-2 shadow p-4 card-body" >
    <h1 sec:authorize="isAuthenticated()" th:text="${image.title}"></h1>

        <div>
            <center sec:authorize="isAnonymous()"><h3> You need to be logged user</h3></center>
        </div>

    <div>
         <img th:src="@{/imageData/{imageId}(imageId=${image.id})}" class="img-thumbnail" sec:authorize="isAuthenticated()"
              th:alt="${image.description}"/>
        <pre><strong sec:authorize="isAuthenticated()" th:text="${image.description}"></strong></pre>
    </div>

    <div>
        <h6 class="card-title" sec:authorize="isAuthenticated()">Uploaded: <a th:text="${@dateFormatter.relative(image.getCreatedAt())}"></a>, by: <a class="card-title"
        th:href="@{/profile/{userName}(userName=${image.getUser().getName()})}"><strong th:text="${'@' + image.getUser().getName()}"></strong>        </a></h6>
    </div>

        <form th:action="@{/changeDescription/{imageId}(imageId=${image.getId()})}" th:object="${newDescription}" method="post" enctype="multipart/form-data">
            <div th:if="${#authorization.expr('hasRole(''ROLE_ADMIN'')') or image.user.name eq #authentication.name}">
            <div class="form-group font-weight-bold">
                <label for="inputDescription">Description</label>

                <textarea class="form-control" type="text" required id="inputDescription"
                          th:classappend="${#fields.hasErrors('newDescription') ? 'is-invalid' : ''}"
                          th:field="*{newDescription}"></textarea>

                <div class="invalid-feedback" th:if="${#fields.hasErrors('newDescription')}" th:errors="*{newDescription}"></div>
                <div class="control">
                    <button class="btn btn-primary" type="submit">Change Description</button>
                </div>
            </div>
            </div>
        </form>
        <div th:if="${#authorization.expr('hasRole(''ROLE_ADMIN'')') or image.user.name eq #authentication.name}">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#deleteModal">
                Delete
            </button>

            <!-- Modal -->
            <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            Really delete the video <q th:text="${image.title}"></q>?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-primary" data-dismiss="modal">No</button>
                            <form th:action="@{/deleteImage/{imageId}(imageId=${image.id})}" method="post">
                                <button type="submit" class="btn btn-danger">Yes, delete</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>
</body>
</html>