<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{_layout.html}">
<head>
    <title th:text="${image.title}"></title>
</head>
<body>
<main layout:fragment="main">
    <div class="card mb-2 shadow p-4 card-body" >
    <h1 th:text="${image.title}"></h1>

    <div>
         <img th:src="@{/imageData/{imageId}(imageId=${image.id})}"
              th:alt="${image.description}"/>
        <pre><strong th:text="${image.description}"></strong></pre>
    </div>

    <div>
        <h6 class="card-title">Uploaded: <a th:text="${@dateFormatter.relative(image.getCreatedAt())}"></a>, by: <a class="card-title"
        th:href="@{/profile/{userName}(userName=${image.getUser().getName()})}"><strong th:text="${'@' + image.getUser().getName()}"></strong>        </a></h6>
    </div>
    </div>

</main>
</body>
</html>