<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{_layout.html}">
<head>
    <title>Images</title>
</head>
<body>
<main layout:fragment="main">
    <h1>Images</h1>
    <div class="alert alert-success" role="alert" th:if="${param.uploaded}">
        Thank you for uploading!
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div th:each="image: ${images}" class="card mb-2">
        <div class="card-body">
            <h5 class="card-title" th:text="${image.title}">Example Image</h5>
            <h5 class="card-title">Uploaded: <small th:text="${@dateFormatter.relative(image.getCreatedAt())}"></small></h5>
            <img th:src="@{/imageData/{imageId}(imageId=${image.id})}" ></img>
            <div>
                <p> Uploaded by:
                    <a class="card-title"
                       th:href="@{/profile/{userName}(userName=${image.getUser().getName()})}">
                        <strong th:text="${'@' + image.getUser().getName()}"></strong>
                    </a></p>
            </div>
            <a th:href="@{/image/{imageId}(imageId=${image.id})}" class="btn btn-primary">Details</a>
        </div>
    </div>
    <nav aria-label="...">

        <ul class="pagination justify-content-end">
            <li class="page-item disabled"><a class="page-link" th:href="@{/newImages(page=${images.getNumber() - 1})}"
                                              th:if="${images.getNumber() ==0}"  >Previous</a></li>
            <li class="page-item"><a class="page-link" th:href="@{/newImages(page=${images.getNumber() - 1})}"
                                     th:if="${images.getNumber() !=0}"  >Previous</a></li>

            <li  class="page-item" aria-current="page" th:each="page: ${pagination}" th:classappend="${images.getNumber() == page -1 ? 'active' : ''}">
                <a class="page-link"  th:if="${page >= 0}" th:href="@{/newImages(page=${page - 1})}"  th:text="${page}">1</a>
                <a class="page-link" th:if="${page == -1}">...</a>
            </li>

            <li class="page-item"><a class="page-link" th:href="@{/newImages(page=${images.getNumber() + 1})}"
                                     th:if="${images.getNumber()!= images.totalPages -1}">Next</a></li>
            <li class="page-item disabled"><a class="page-link" th:href="@{/newImages(page=${images.getNumber() + 1})}"
                                              th:if="${images.getNumber()== images.totalPages -1 }">Next</a></li>
        </ul>
    </nav>

</main>
</body>
</html>