<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{_layout.html}">
<head>
    <title>New Sounds</title>
</head>
<body>
<main layout:fragment="main">
    <h1>New Sounds</h1>

    <div class="alert alert-success" role="alert" th:if="${param.uploaded}">
        Thank you for uploading!
    </div>

    <div th:each="sound: ${sounds}" class="card mb-2">
        <div class="card-body">
            <h5 class="card-title" th:text="${sound.title}">Example Sound</h5>
            <audio controls th:src="@{/audioData/{soundId}(soundId=${sound.id})}" class="w-100 rounded" preload="none"></audio>
            <a th:href="@{/sound/{soundId}(soundId=${sound.id})}" class="btn btn-primary">Details</a>
        </div>
    </div>

    <nav>
        <ul class="pagination justify-content-end">
            <li class="page-item"><a class="page-link" th:href="@{/newSounds(page=${sounds.getNumber() - 1})}">Previous</a></li>
            <li class="page-item"><a class="page-link" th:href="@{/newSounds(page=${sounds.getNumber() + 1})}">Next</a></li>
        </ul>
    </nav>
</main>
</body>
</html>