<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{_layout.html}">
<head>
    <title>Profile</title>
</head>
<body>
<main layout:fragment="main">
    <h1 th:text="${'@' + user.name}">Profile</h1>

    <div>
        <span th:each="badge: ${badges}"
              class="badge"
              th:classappend="${'badge-' + badge.color}"
              th:text="${badge.label}"></span>
    </div>


    <div class="badge-body">
            <a class="badge bg-secondary text-light" th:text="'followers '+${user.getFollowers().size()}"></a>
            <a class="badge bg-secondary text-light" th:text="'following '+${user.getFollowing().size()}"></a>
    </div>



    <form th:action="@{/follow/{userName}(userName=${user.name})}" method="post" sec:authorize="isAuthenticated()">
        <div th:if="${user != sessionUser}">
            <div class="clearfix" th:if="${!isFollowed}">
                <button class="btn btn-primary mt-1 ml-4" type="submit">Follow</button>
            </div>
            <div class="clearfix" th:if="${isFollowed}">
                <button class="btn btn-primary mt-1 ml-4" type="submit">Unfollow</button>
            </div>
        </div>
    </form>




        <div>

            <center><h3 th:if="${user.getSounds().isEmpty()}" th:text="${'This user has not uploaded any sounds.'}"></h3></center>
         <br>
        </div>

    <div th:each="sound: ${newestSounds}" class="card mb-2">
        <div class="card-body">
            <h5 class="card-title" th:text="${sound.title}">Example Sound</h5>
            <audio th:replace="_fragments :: player(${sound.id})"></audio>
            <a th:href="@{/sound/{soundId}(soundId=${sound.id})}" class="btn btn-primary stretched-link">Details</a>

        </div>
    </div>

</main>

</body>
</html>