<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{_layout.html}">
<head>
    <title>Signup page</title>
</head>
<body>
<main layout:fragment="main">
    <style>
        h1 {
            color: white;
            text-shadow: 1px 1px #030303;
            font-weight: bold;
        }
        label {
            color: white;
            text-shadow: 1px 1px #000000;
            font-weight: bold;
        }
        form-group {
            font-weight: bold;
            color: white;
            text-shadow: 1px 1px #000000;
        }


    </style>
    <h1>Sign up</h1>
    <form th:action="@{/signup}" th:object="${registration}" method="post">
        <div class="form-group">
            <label for="inputName">Name</label>
            <input class="form-control" type="text" required id="inputName"
                   th:classappend="${#fields.hasErrors('name') ? 'is-invalid' : ''}"
                   th:field="*{name}">
            <div class="invalid-feedback" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
        </div>
        <div class="form-group">
            <label for="inputDate">Date of birth</label>
            <input class="form-control" type="date" required id="inputDate"
                   th:classappend="${#fields.hasErrors('date') ? 'is-invalid' : ''}"
                   th:field="*{date}">
            <div class="invalid-feedback" th:if="${#fields.hasErrors('date')}" th:errors="*{date}"></div>
        </div>
        <div class="form-group">
            <label for="inputPassword1">Password</label>
            <input class="form-control" type="password" required id="inputPassword1"
                   th:classappend="${#fields.hasErrors('password1') ? 'is-invalid' : ''}"
                   th:field="*{password1}">
            <div class="invalid-feedback" th:if="${#fields.hasErrors('password1')}" th:errors="*{password1}"></div>
        </div>
        <div class="form-group">
            <label for="inputPassword2">Repeat Password</label>
            <input class="form-control" type="password" required id="inputPassword2"
                   th:classappend="${#fields.hasErrors('password2') ? 'is-invalid' : ''}"
                   th:field="*{password2}">
            <div class="invalid-feedback" th:if="${#fields.hasErrors('password2')}" th:errors="*{password2}"></div>
        </div>
        <div class="form-group" style="color: white; text-shadow:1px 1px black">
            <input type="checkbox" th:field="*{toService}" id="toService"
                   th:classappend="${#fields.hasErrors('toService') ? 'is-invalid' : ''}">
            I agree to <a href="/termsOfService" target="_blank" style="color: white; font-weight: bold; text-shadow: black">Terms of Service</a>
            <div class="invalid-feedback" th:if="${#fields.hasErrors('toService')}" th:errors="*{toService}"></div>
        </div>
        <br>
        <div class="control">
            <button class="btn btn-primary font-weight-bold" type="submit">Submit</button>
        </div>
    </form>
</main>
</body>
</html>