<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{_layout.html}">
<head>
    <title>Signup page</title>
</head>
<body>
<main layout:fragment="main">
    <h1>Sign up</h1>
    <form th:action="@{/signup}" th:object="${registration}" method="post">
        <div class="form-group">
            <label for="inputName">Name</label>
            <input class="form-control" type="text" required id="inputName"
                   th:classappend="${#fields.hasErrors('name') ? 'is-invalid' : ''}"
                   th:field="*{name}">
            <div class="invalid-feedback" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
        </div>
        <div class="form-group">
            <label for="inputPassword1">Password</label>
            <input class="form-control" type="password" required id="inputPassword1"
                   th:classappend="${#fields.hasErrors('password1') ? 'is-invalid' : ''}"
                   th:field="*{password1}">
            <div class="invalid-feedback" th:if="${#fields.hasErrors('password1')}" th:errors="*{password1}"></div>
        </div>
        <div class="form-group">
            <label for="inputPassword2">Repeat Password</label>
            <input class="form-control" type="password" required id="inputPassword2"
                   th:classappend="${#fields.hasErrors('password2') ? 'is-invalid' : ''}"
                   th:field="*{password2}">
            <div class="invalid-feedback" th:if="${#fields.hasErrors('password2')}" th:errors="*{password2}"></div>
        </div>
        <div class="control">
            <button class="btn btn-primary" type="submit">Submit</button>
        </div>
    </form>
</main>
</body>
</html>