<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{_layout.html}">
<head>
    <title>Videos</title>
</head>
<body>
<main layout:fragment="main">
    <style>
        h1 {
            color: white;
            text-shadow: 1px 1px #030303;
            font-weight: bold;
        }
    </style>
    <h1>Videos</h1>
    <div class="alert alert-success" role="alert" th:if="${param.uploaded}">
        Thank you for uploading!
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>


    <div th:each="video: ${video}" class="card mb-2" >
        <div class=" shadow p-4 card-body">
            <h5 class=" card-title" th:text="${video.title}" >Example Video</h5>
            <video th:replace="_fragments :: video(${video.id})"  ></video>
            <h6 class="card-title">Uploaded: <a th:text="${@dateFormatter.relative(video.getCreatedAt())}"></a>, by: <a th:href="@{/profile/{userName}(userName=${video.getUser().getName()})}">
            <strong th:text="${'@' + video.getUser().getName()}"></strong> </a></h6>
            <a th:href="@{/video/{videoId}(videoId=${video.id})}" class="btn btn-primary">Details</a>
        </div>
    </div>
    <nav aria-label="...">

        <ul class="pagination justify-content-end">
            <li class="page-item disabled"><a class="page-link" th:href="@{/videos(page=${video.getNumber() - 1})}"
                                              th:if="${video.getNumber() ==0}"  >Previous</a></li>
            <li class="page-item"><a class="page-link" th:href="@{/videos(page=${video.getNumber() - 1})}"
                                     th:if="${video.getNumber() !=0}"  >Previous</a></li>

            <li  class="page-item" aria-current="page" th:each="page: ${pagination}" th:classappend="${video.getNumber() == page -1 ? 'active' : ''}">
                <a class="page-link"  th:if="${page >= 0}" th:href="@{/videos(page=${page - 1})}"  th:text="${page}">1</a>
                <a class="page-link" th:if="${page == -1}">...</a>
            </li>

            <li class="page-item"><a class="page-link" th:href="@{/videos(page=${video.getNumber() + 1})}"
                                     th:if="${video.getNumber()!= video.totalPages -1}">Next</a></li>
            <li class="page-item disabled"><a class="page-link" th:href="@{/videos(page=${video.getNumber() + 1})}"
                                              th:if="${video.getNumber()== video.totalPages -1 }">Next</a></li>
        </ul>
    </nav>

</main>
</body>
</html>