<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{_layout.html}" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title th:text="${video.title}"></title>
</head>
<body>
<main layout:fragment="main">
    <div class="card mb-2 shadow p-4 card-body" >

        <div>
            <center sec:authorize="isAnonymous()"><h3> You need to be logged user</h3></center>
        </div>

    <h1 sec:authorize="isAuthenticated()" th:text="${video.title}"></h1>
    <video sec:authorize="isAuthenticated()" th:replace="_fragments :: video(${video.id})"></video>
    <pre><strong sec:authorize="isAuthenticated()" th:text="${video.description}"></strong></pre>
        <h6 class="card-title" sec:authorize="isAuthenticated()">Uploaded: <a th:text="${@dateFormatter.relative(video.getCreatedAt())}"></a>, by: <a th:href="@{/profile/{userName}(userName=${video.getUser().getName()})}">
            <strong th:text="${'@' + video.getUser().getName()}"></strong> </a></h6>
    </div>
    </div>
    <form th:action="@{/changeDescriptionVideo/{videoId}(videoId=${video.getId()})}" th:object="${newDescription}" method="post" enctype="multipart/form-data">
        <div th:if="${#authorization.expr('hasRole(''ROLE_ADMIN'')') or video.user.name eq #authentication.name}">
            <div class="form-group font-weight-bold">
                <label for="inputDescription">Description</label>

                <textarea class="form-control" type="text" required id="inputDescription"
                          th:classappend="${#fields.hasErrors('newDescription') ? 'is-invalid' : ''}"
                          th:field="*{newDescription}"></textarea>

                <div class="invalid-feedback" th:if="${#fields.hasErrors('newDescription')}" th:errors="*{newDescription}"></div>
                <div class="control">
                    <button class="btn btn-primary" type="submit">Change Description</button>
                </div>
            </div>
        </div>
    </form>
    <form th:action="@{/changeTitleVideo/{videoId}(videoId=${video.getId()})}" th:object="${newTitle}" method="post" enctype="multipart/form-data">
        <div th:if="${#authorization.expr('hasRole(''ROLE_ADMIN'')') or video.user.name eq #authentication.name}">
            <div class="form-group font-weight-bold">
                <label for="inputDescription">Title</label>

                <textarea class="form-control" type="text" required id="inputTitle"
                          th:classappend="${#fields.hasErrors('newTitle') ? 'is-invalid' : ''}"
                          th:field="*{newTitle}"></textarea>

                <div class="invalid-feedback" th:if="${#fields.hasErrors('newTitle')}" th:errors="*{newTitle}"></div>
                <div class="control">
                    <button class="btn btn-primary" type="submit">Change Title</button>
                </div>
            </div>
        </div>
    </form>

    <div th:if="${#authorization.expr('hasRole(''ROLE_ADMIN'')') or video.user.name eq #authentication.name}">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#deleteModal">
            Delete
        </button>

        <!-- Modal -->
        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        Really delete the video <q th:text="${video.title}"></q>?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-primary" data-dismiss="modal">No</button>
                        <form th:action="@{/deleteVideo/{videoId}(videoId=${video.id})}" method="post">
                            <button type="submit" class="btn btn-danger">Yes, delete</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>